<link rel="stylesheet" type="text/css" href="./css/style.css">

@import url('https://fonts.cdnfonts.com/css/faktum-test');                
                

@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}
@font-face {font-family: "Pretendard";
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');}
@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');}

/*기본값*/
body, h1, h2, h3, p, ul, section, footer, body {margin: 0; padding: 0;}
.wrap{width: 1000px; margin: auto; position: relative;}
.fullwrap{position: relative;}
html{ font-family: 'Pretendard'; font-weight: 400; line-height: 1.3; color: black; font-size: 20px; background: #EBE8E2; overflow-x: hidden; position: relative;}


/*글자, 배경컬러*/
.blackbg{background-color: #1A1A1A; z-index: -3}
.blue{background-color: #3273D0}
.green{background-color: #059E4E}
.skyblue{background-color: #8FA9E1}
.pink{background-color: #E9A7AA}
.red{background-color: #F25C51}

/*네비게이션*/
.nav{width: 1000px; height: 56px; position: fixed; margin: 0 auto; left: 0; right: 0; z-index: 5;  align-items: center;}
.flex{display: flex; justify-content: space-between; font-size: 24px}
.logo{font-family: 'YdestreetB'; color: #DDD6CA}
.menu{width: 400px;}
.menu li {list-style-type: none;}
.menu li a{display:block; text-decoration: none; color: #DDD6CA; font-size: 19px; font-family: 'Faktum Test', sans-serif;}
.menu li a:hover{opacity: 50%;}

/*헤더*/
.header{height: 2000px;  position: relative;}

.headertitle{display: flex; flex: 0 0 auto; transition: 0.3s; white-space: nowrap; justify-content: space-between;  font-family: 'Faktum Test', sans-serif; font-size: 160px; color:#DDD6CA; padding-top: 20px; width: 100%;  height: 200px; overflow: hidden;}
.flow-wrap {animation: textLoop 25s linear infinite; padding-right: 150px}
@keyframes textLoop {
0% {-webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);}
100% {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);}}

.headertxt1{font-family: 'Faktum Test', sans-serif; width: 420px; word-break: keep-all;  color:#DDD6CA; font-size: 22px;position: absolute; top: 300px; left: 20px}
.headertxt2{font-family: 'Faktum Test', sans-serif; width: 240px; word-break: keep-all; text-align: right;  color:#DDD6CA; font-size: 22px; position: absolute; top: 1900px; right: 20px}
.pinkcato{position: absolute; top:318px; left: 870px}
.greenstar{position: absolute; top:660px; left:220px}
.bluedogo{position: absolute; top: 570px; left: 400px}
.bluecato{position: absolute; top: 850px; left:0px}
.greendogo{position: absolute; top:470px; left: 670px; transform: rotate(-0.36deg);}
.O{position: absolute; top: 1313px; left: 1290px}
.hamstero{position: absolute; top:1528px; left:163px}
.rabbito{position: absolute; top:1402px; left: 697px}
.birdo{position: absolute; top:1560px; left:1260px}
.heart{position: absolute; top:1500px; left:486px}}

/*section1*/
.section1{height: 1100px;  position: relative; padding-bottom: 20px}
.s1p{font-size: 32px; color: #E9A7AA; padding-top: 350px}
.s1sp{font-size: 32px; color: #E9A7AA; padding-top: 350px; text-align: center; padding-bottom: 20px}
.s1b{font-size: 120px; color:#DDD6CA; line-height: 1.1;}
.s11b{font-size: 100px; color:#DDD6CA; line-height: 1.1; text-align: center; font-family: 'Pretendard'; font-weight: 600; word-break: keep-all}
.s1s{color:#DDD6CA; text-decoration: underline; text-align: right; padding: 20px 0 330px 0}
.greenheart{position: absolute; top:290px; left:650px; transform: rotate(24deg);}
.pinkc{position: absolute; top:300px; left:820px; transform: rotate(-12deg);}
.s1ham{justify-content: center; display: flex; padding-top: 70px }
.s1q{color: #1A1A1A; position: absolute; top: 870px; font-size: 72px}

/*section2*/
.s2s{font-size: 32px; font-family: 'Pretendard'; font-weight: 600; color: #F25C51; padding-top: 300px; ;}
.s2t{font-size: 60px; padding-bottom: 73px}
.s2n{font-size: 26px; padding: 8px 0}
.s2p{word-break: keep-all; font-size: 38px; width: 450px; padding: 18px 0; font-family: 'Pretendard'; font-weight: 600;}
.line {border-top: 1.5px solid #174036; width: 458px}

.s2flex {display: flex; gap: 12px;  list-style-type: none; padding-top: 11px;}
.s2flex li {list-style-type: none; display: inline-block; border-radius: 30px; padding:9px 22px; border: 1.5px solid black; font-size: 26px}
.s2bflex{overflow-x: auto; display: flex; justify-content: space-between; list-style-type: none;  padding-left: 250px; padding-bottom: 20px}
.sb2m{padding-right: 56px}


.s2dog{position: absolute; top:570px; left: 100px; transform: rotate(-0.41deg); z-index: -2}
.s2cat{position: absolute; top:300px; left: 750px; transform: rotate(0.24deg); z-index: -2}
.s2hamster{position: absolute; top:400px; left: 1300px; transform: rotate(0.34deg); z-index: -2}

/*section3*/
.s3wrap{margin: auto; position: relative; text-align: center;}
.greencard{margin-top: 380px; width: 480px; border-radius: 70px; font-size: 51px; background-color: #059E4E; color: #EBE8E2; padding: 70px 68px 42px 76px; font-family: 'Pretendard'; font-weight: 600; position: absolute; left: 50%; transform: translateX(-50%); z-index: 3; text-align: left;}
.bluecard{margin-top: 380px; width: 350px; border-radius: 70px; font-size: 51px; background-color: #8FA9E1; color: #EBE8E2; padding: 70px 198px 42px 76px; font-family: 'Pretendard'; font-weight: 600; position: absolute; left: 50%; transform: translateX(-50%) rotate(6deg);z-index: 2; text-align: left;}
.pinkcard{margin-top: 380px; width: 400px; border-radius: 70px; font-size: 51px; background-color: #E9A7AA; color: #EBE8E2; padding: 70px 148px 42px 76px; font-family: 'Pretendard'; font-weight: 600; position: absolute; left: 50%; transform: translateX(-50%) rotate(13deg);z-index: 1; text-align: left;}
.s3t{font-size: 130px; padding-top:760px; font-family: 'Pretendard'; font-weight: 600; }
.click{font-size: 42px; padding-top:260px; text-decoration: underline;}
 .hidden {display: none;}

/*section4*/
.s4flex{display: flex; list-style-type: none; padding-top: 460px; justify-content: space-between;}
.s4t{font-family: 'Pretendard'; font-weight: 600; font-size: 80px; width: 306px;}
.s4p{font-size: 22px; width: 580px; word-break: keep-all; text-decoration: underline;}
.s4p2{padding-top: 30px;  width: 580px;  font-size: 22px; word-break: keep-all; }

.containerflow{ border: 1px solid #174036; height: 70px; width: 100%; overflow: hidden; margin-top: 72px}
.ft {font-family: 'Faktum Test', sans-serif; display: flex; flex: 0 0 auto; gap: 0;font-size: 42px; height: auto; white-space: nowrap; position: relative; animation: textLoop 10s linear infinite ; list-style-type: none; animation-play-state: running; transition: 0.3s; padding-top: 5px}
.ft li{padding-right: 50px}
.b { font-family: 'Faktum Test', sans-serif; display: flex; flex: 0 0 auto; gap: 0;font-size: 42px; height: auto; white-space: nowrap; position: relative; animation2: textLoop2 10s linear infinite; list-style-type: none; animation-play-state: running; transition: 0.3s;}

.s42flex{display: flex; list-style-type: none; overflow-x: auto; -ms-overflow-style: none; padding-bottom: 0;}
.s42flex::-webkit-scrollbar { display: none;}

.s4speech-bubble {background: #059e4e; border-radius: 15px; width: 251px; height: 48px; position: absolute; top: 400px; left: 415px;  justify-content: center; align-items: center; display: flex; color: #FFFFFF}
.s4speech-bubble:after {content: ''; position: absolute; top: 50%; left: 0; width: 0; height: 0; border: 20px solid transparent; border-right-color: #059e4e; border-left: 0; border-bottom: 0; margin-top: -10px; margin-left: -12px;}
.s4cat{position: absolute; left: 167px; top:283px}

/*section5*/
.blackbgs5{display: flex; background-color: #1A1A1A; z-index: -3; justify-content: center; align-items: center; padding-top: 230px;}
.s5p{text-align: center; font-family: 'Faktum Test', sans-serif; font-size: 90px; color: #DDD6CA; border-radius: 100px; border: 1.5px solid #DDD6CA; width: 1600px; height: 405px; display: flex; justify-content: center; align-items: center;}
.s5rabbitdog{position: absolute; top: 410px; z-index: -1}

/*section6*/
.s6flex1{display: flex; width: 1000px; justify-content: space-between;list-style-type: none; padding-top: 289px;}
.s6flex2{display: flex; width: 1000px; justify-content: space-between; list-style-type: none; position: absolute; top: 535px; align-items: flex-end;}
.s6flex3{display: flex; width: 1000px;  list-style-type: none; justify-content: space-between;  padding-top: 283px; padding-bottom: 214px}
.s6p{color: #DDD6CA; font-size: 60px; width: 655px; word-break: keep-all; margin-left: 0; font-family: 'Pretendard'; font-weight: 600;}
.s6pblue{color: #3273D0; font-size: 60px; font-family: 'Pretendard'; font-weight: 600;}

/*section7*/
.s7t{font-size: 80px; font-family: 'Pretendard'; font-weight: 600; width: 414px; padding-top: 234px; word-break: keep-all; line-height: 1.2; padding-bottom: 119px}
.s7flex{display: flex; width: 1000px; justify-content: space-between; list-style-type: none; padding-bottom: 50px}
.s7ct{width: 300px; height: 60px; border: 1.5px solid black; color: #DDD6CA; font-family: 'Pretendard'; font-weight: 600; font-size: 24px;  display: flex; justify-content: center; align-items: center; z-index: 5}
.s7c{width: 266px; border: 1.5px solid black; height: 208px;  padding: 15px 17px 0 17px; margin-top: -1px; line-height: 140%; display: flex; justify-content: center; }

.s7speech-bubble {background: #E9A7AA; border-radius: 15px; width: 207px; height: 48px; position: absolute; top: 185px; left: 384px;  justify-content: center; align-items: center; display: flex;}
.s7speech-bubble:after {content: ''; position: absolute; top: 50%; left: 0; width: 0; height: 0; border: 20px solid transparent; border-right-color: #E9A7AA; border-left: 0; border-bottom: 0; margin-top: -10px; margin-left: -12px;}
.s7rabbit{position: absolute; left: 190px; top:128px; transform: rotate(9deg); z-index: -1}
.s7container{padding-bottom: 300px}

/*section8*/
.s8flex {display: flex; gap: 33px;  list-style-type: none;}
.s8t{font-size: 96px; font-family: 'Pretendard'; font-weight: 700;}
.s8line {border-top: 1.5px solid #174036; margin-top: 400px; padding-bottom: 24px}
.s8flex2{display: flex; width: 1000px; justify-content: space-between; list-style-type: none; padding-bottom: 200px}
.s8bird{position: absolute; top: 535px; left: 770px}

.s8speech-bubble {background: #8FA9E1; border-radius: 15px; width: 224px; height: 78px; position: absolute; top: 510px; left: 520px;  justify-content: center; align-items: center; display: flex; color: white;}
.s8speech-bubble:after {content: ''; position: absolute; top: 50%; left: 100%; width: 0; height: 0; border: 20px solid transparent; border-left-color: #8FA9E1; border-right: 0; border-bottom: 0; margin-top: -10px; margin-right: -12px;}

/*section9*/
.wrap9{width: 1000px; margin: auto; position: relative;}
.s9t{font-size: 30px; width: 310px; height: 85px; border-radius: 50%; border: 1.5px solid black; justify-content: center; align-items: center; display: flex;}
.s9line {border-top: 1.5px solid #174036; position: absolute; margin-top: 913px; padding-bottom: 24px}
.s9cat{position: absolute; top: 680px; left: 380px;}
.s9pink{display: flex;flex-direction: column;align-items: center; }
.s9pink p {padding: 12px 40px; display: inline-block; width: auto; background-color: #E9A7AA;font-size: 67px; color:#EBE8E2; border-radius: 120px }
.s9blue{display: flex;flex-direction: column;align-items: center; }
.s9blue p {padding: 12px 40px; display: inline-block; width: auto; background-color: #3273D0;font-size: 67px; color:#EBE8E2; border-radius: 120px }
.s9a{position: absolute; top: 100px; left: 160px; transform: rotate(20deg);}
.s9b{position: absolute; top: 366px; left: 622px; transform: rotate(-18deg);}
.s9c{position: absolute; top: 604px; left: 999px; transform: rotate(19deg);}
.s9d{position: absolute; top: 619px; left: 319px; transform: rotate(-30deg);}
.s9e{position: absolute; top: 104px; left: 1085px; transform: rotate(36deg);}
.s9f{position: absolute; top: 570px; left: 214px; transform: rotate(-50deg);}
.s9g{position: absolute; top: 479px; left: 1412px; transform: rotate(-20deg);}

.splusp{font-size: 32px; padding-top: 1500px; text-align: center; padding-bottom: 20px; color: #F25C51;  font-family: 'Pretendard'; font-weight: 600; }
.splusb{font-size: 100px; line-height: 1.1; text-align: center; font-family: 'Pretendard'; font-weight: 600; word-break: keep-all}

/*section10*/

.s10t{font-size: 60px; width: 408px; padding-top: 600px; font-family: 'Pretendard'; font-weight: 700; }
.s10p{font-size: 22px; width: 420px; padding-top: 85px;  padding-bottom: 48px; line-height: 1.4}
.s10flex {display: flex; gap: 12px;  list-style-type: none; padding-bottom: 12px;}
.s10flex li {list-style-type: none; display: inline-block; border-radius: 30px; padding:9px 22px; border: 1.5px solid black; font-size: 28px}
.big10{display: flex; justify-content: space-between;}
.big10 div{list-style-type: none;}
.s101{padding-top: 600px;}
.s10dog{position: absolute; top: 300px; left: 606px; transform: rotate(5deg); z-index: -1}

/*section11*/
.s11t{font-size: 60px; width: 408px; padding-top: 400px; font-family: 'Pretendard'; font-weight: 700; }
.s11p{font-size: 22px; width: 543px; padding-top: 65px;  padding-bottom: 48px; line-height: 1.4; color: black; text-align: left;}
.s11flex{display: flex; justify-content: space-between;}
.s11flex div{list-style-type: none;}
.s111{padding-top: 300px; }
.s112{padding-top: 40px}
</style>
